#brdrBtm {
    border-top: 1px solid rgba(0, 0, 0, .12);
    margin-bottom: 10px;
}

.logo-cover{
  text-align: center;
  .logo-sm {
    padding: 10px;
    border: 1px solid #ddd;
    height: 70px;
  }
}
