$table-bg-color: #ffffff;
$table-odd-bg: #ffffff;
$table-even-bg: #f7f7f7;
$table-border: #bbbbbb;
$dotted-border: #e4e4e4;
$disabled-btn-bg: #dcdcdc;
$disabled-btn-color: rgba(0, 0, 0, 0.26);
#list-header {
    padding: 15px 20px 15px 20px;
    background-color: $table-bg-color;
    .search-txt-handler {
        font-size: 15px !important;
        span {
            color: var(--primary-color);
        }
        .search-txt {
            color: #626262 !important;
        }
        .st-link {
            text-decoration: underline;
            cursor: pointer;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

#list-footer {
    margin-bottom: 30px;
    width: 100%;
}

#list-body {
    border: 1px dotted $dotted-border;
    #table-content {
        width: 100%;
        overflow: auto;
        background: $table-bg-color;
        .mat-header-row {
            min-height: 45px;
            border-bottom-width: 0px;
            .mat-header-cell {
                text-align: left !important;
                background: $table-bg-color;
                border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                min-width: 75px;
                display: flex;
                justify-content: flex-start !important;
                &:first-of-type {
                    padding-left: 15px !important;
                }
                &:last-of-type {
                    padding-right: 15px !important;
                }
                .mat-checkbox-frame {
                    border-color: #333 !important;
                }
                .mat-sort-header-button {
                    color: #626262;
                    text-align: left !important;
                }
                .mat-sort-header-arrow,
                em.fa-caret-down {
                    color: var(--primary-color) !important;
                }
                .mat-column-name {
                    border-right: 1px solid $table-border;
                }
            }
        }
        .mat-column-id {
            min-width: 75px !important;
        }
        .mat-column-action {
            width: 40px !important;
            max-width: 40px !important;
            min-width: 40px !important;
        }
        .mat-column-active,
        .mat-column-dropdown {
            padding-left: 0px !important;
            flex: 0 0 3% !important;
            width: 25px !important;
            min-width: 25px !important;
            max-width: 25px !important;
        }
        #genericTable .mat-column-name {
            flex: 0 0 15% !important;
            width: 200px;
            max-width: 200px;
            border-right: 1px solid $table-border;
        }
        .mat-column-source {
            flex: 0 0 15% !important;
            width: 250px;
            max-width: 250px;
        }
        .mat-column-leftPad {
            padding-left: 0px !important;
            flex: 0 0 3% !important;
            width: 20px !important;
            min-width: 20px !important;
            max-width: 20px !important;
        }
        .mat-row {
            border-bottom: 0 !important;
            .mat-cell {
                min-width: 75px;
                padding-left: 18px;
                display: flex !important;
                justify-content: flex-start !important; // or flex-end
                font-size: 11px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                &:first-of-type {
                    padding-left: 15px !important;
                }
                &:last-of-type {
                    padding-right: 15px !important;
                }
            }
            &:nth-child(even),
            &:nth-child(even) .mat-cell {
                background-color: $table-even-bg !important;
            }
            &:nth-child(odd),
            &:nth-child(odd) .mat-cell {
                background-color: $table-odd-bg !important;
            }
            &:nth-child(odd) .mat-cell.row-selected,
            &:nth-child(even) .mat-cell.row-selected,
            & .mat-cell.row-selected {
                background-color: var(--table-hover-selected) !important;
            }
            &:hover .mat-cell,
            &:nth-child(odd):hover .mat-cell,
            &:nth-child(even):hover .mat-cell {
                background-color: var(--table-hover-selected) !important;
            }
        }
    }
}

.details-link {
    color: #333;
}

.data-unavailable-msg {
    padding: 15px 15px;
    background: $table-bg-color;
    color: #6c757d;
}

.list-search-container {
    position: relative;
    .options-list {
        position: absolute;
        width: 100%;
        background: #fafafa;
        border: 1px solid #ebebeb;
        box-shadow: 0 10px 6px -6px #777;
        z-index: 10000;
        .list-items {
            padding: 7px 5px 5px;
            border-bottom: 1px solid #ebebeb;
            color: #888888;
            cursor: pointer;
            font-size: 13px;
            &:hover {
                background-color: var(--table-hover-selected);
            }
            i,
            em {
                font-size: 12px;
                margin-right: 6px;
            }
        }
        .list-footer {
            padding: 5px 10px 5px 10px;
            background-color: $table-bg-color;
            cursor: pointer;
            i,
            em {
                margin-right: 6px;
                font-size: 12px;
                color: var(--primary-color);
            }
            span {
                color: var(--primary-color);
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.mr {
    color: var(--primary-color) !important;
    margin-right: 7px;
}

.mat-menu-content:not(:empty),
.cstm-btn {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    font-size: 12px !important;
}

.menu-i {
    cursor: pointer;
    &:hover {
        color: var(--primary-color);
    }
}

.mat-menu-panel {
    min-width: 0px !important;
    min-height: 0px !important;
}

.padLeft18 {
    padding-left: 18px;
}

.img_dimension {
    height: 32px !important;
    width: 27.5px !important;
    text-align: center;
}

.mat-form-field-wrapper {
    border: 0;
    background-image: none;
}

.btn-primary.mat-raised-button {
    width: auto !important;
}

.btn-primary.mat-raised-button.disableUI {
    color: $disabled-btn-color;
    background: $disabled-btn-bg !important;
    border-color: $disabled-btn-bg !important;
    opacity: 0.6;
}

.float-right em {
    font-size: 16px;
}

.mrt3 {
    margin-top: 3px !important;
}

.warning_msg_alert {
    border-color: #ffd6d6;
    background: #fff2ef;
    color: #ba5c5a;
    // margin: 0 20px;
    font-size: 12px;
}

.warning_msg_alert .alert-warning {
    background-color: #fcf8e3 !important;
    border-color: #faf2cc !important;
    color: #8a6d3b !important;
}