.rounded-right {
  -webkit-clip-path: polygon(80% 0, 100% 50%, 100% 50%, 80% 100%, 0 100%, 0 0);
  clip-path: polygon(80% 0, 100% 50%, 100% 50%, 80% 100%, 0 100%, 0 0);
}

.primary-icon {
  color: var(--primary-color) !important;
  opacity: 0.7 !important;
}
