.b-crumbs {
  margin-bottom: -1rem !important;
}

.breadcrumb {
  padding: 5px 10px !important;
  font-size: 14px !important;
}

.breadcrumb-item a.bc-name {
  color: #666;
}

.breadcrumb-item a.bc-name:hover {
  color: #0056b3;
}

.mrt3 {
  margin-top: 3px !important;
}
