$danger-color: #f44336;
$success-color: #4fa845;
.preview-section-header {
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 25px;
    .psh-title {
        //   font-weight: bold;
    }
    .psh-verify {
        font-size: 12px;
        color: var(--primary-color);
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}