.convTracker {
    background: #ffffff;
}

#page-content #form-container {
    background: #ffffff;
}

#page-content #form-container.formContent {
    border: 0;
}

.mat-action-row {
    border-top-width: 0 !important;
}

.btn-primary.mat-raised-button,
.btn-secondary.mat-raised-button {
    width: auto !important;
}

.consteppers {
    display: inline-table;
    padding: 0px 9px;
    background: var(--primary-color);
    color: #fff;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 600;
    margin-right: 19px;
    margin-top: 10px;
    line-height: 27px !important;
}

.mat-expansion-panel-header {
    color: #343a40!important;
    font-size: 14px;
    font-weight: 600;
    padding: 0 !important;
    margin-left: 24px;
    cursor: auto;
}

.mat-expansion-panel-header span {
    line-height: 28px;
}

.mat-expansion-panel-header-title {
    margin-right: 0 !important;
    cursor: auto;
}

.mat-expansion-panel-header div.accor-titles {
    width: calc(100% - 45px);
    display: inline;
    border-bottom: 1px solid #555;
    line-height: 40px;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
}

.pad-rt25 {
    padding-right: 25px !important;
}

.mrl0 {
    margin-left: 0 !important;
}

.warning_msg_alert {
    border-color: #ffd6d6;
    background: #fff2ef;
    color: #ba5c5a;
    font-size: 12px;
}

.warning_msg_alert .alert-warning {
    background-color: #fcf8e3 !important;
    border-color: #faf2cc !important;
    color: #8a6d3b !important;
}