<block-ui>
    <div class='page-container'>
        <div class='page-header'>
            <div class='breadcrumbs-container'>
                <app-breadcrumbs bc={{breadcrumbs}}></app-breadcrumbs>
            </div>

            <div class='clearfix'></div>
        </div>

        <div id='page-content'>

            <div class='row justify-content-center'>
                <div class='col-7'>
                    <div id='form-container'>
                        <div class='form-header'>
                            <span class=''>Edit Creative</span>
                        </div>
                        <div id='creative-edit-form' class='form-body' *ngIf='creative && creative.id'>
                            <div id='basic-details'>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="form-label">
                                                {{ crConst.LABEL_ADVERTISER }}*
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class='form-txt'>{{creative.advertiser.name}}</div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4 col-lg-4">
                                            <div class="form-label">
                                                {{ crConst.CLK_DESTINATION_LABEL }}*
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-lg-8">
                                            <div *ngIf='creative.clickDestination' class='form-txt'>
                                                <span>{{creative.clickDestination.name}}</span>
                                                <span class='ml-3 link text11' (click)="showClickDestinationModal()">
                                                  <em class='fa fa-edit'></em>
                                                  Edit</span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                                <app-form-checkbox [(ngModel)]="creative.dcoAd" label="{{crConst.IS_DCO_LABEL}}" tooltipPosition="above" tooltip="{{crConst.IS_DCO_TOOLTIP}}" checkboxLevel="{{creative.dcoAd==true?'Yes':'No'}}" [disable]=true>
                                </app-form-checkbox>

                                <app-form-input [(ngModel)]="creative.name" tooltipPosition="above" label="{{crConst.NAME_LABEL}}*" maxLen="256" minLen="4" id="crName" validationMsg="{{crConst.VALIDATION_NAME}}" validated="{{formValidated}}" width="wd250">
                                </app-form-input>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4 col-lg-4">
                                            <div class="form-label">
                                                {{ crConst.LABEL_DIMENSION }}*
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-lg-8">
                                            <div *ngIf='creative.size'>
                                                <div class='form-txt' *ngIf='creative.type != crConst.ALLOWED_TYPES.HTML && creative.type != crConst.ALLOWED_TYPES.IMAGE && creative.type != crConst.ALLOWED_TYPES.AD_TAG'>
                                                    {{creative.size.width}}x{{creative.size.height}}</div>
                                                <span id='dimension-form-cover' *ngIf='creative.type == crConst.ALLOWED_TYPES.HTML || creative.type == crConst.ALLOWED_TYPES.IMAGE || creative.type == crConst.ALLOWED_TYPES.AD_TAG'>
                                                  <input class='form-control' [(ngModel)]='creative.size.width'
                                                      [ngClass]="{'error':!formValidated && !creative.size.width}"
                                                      type='number' min='1' placeholder="width" title="Width" />
                                                  <span class='text-gray'>&nbsp;x&nbsp;</span>
                                                <input class='form-control' [(ngModel)]='creative.size.height' [ngClass]="{'error':!formValidated && !creative.size.width}" type='number' min='1' placeholder="height" title="Height" />
                                                <span class='errorMsg' *ngIf='formValidated && (!creative.size.width || !creative.size.height)'>
                                                      <em class='fa fa-warning'></em>
                                                      <small>Field is missing.</small>
                                                  </span>
                                                <span class='clearfix'></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                            </div>

                            <!-- Native assets -->
                            <div id='native-nativeAsset' *ngIf='creative.nativeAd === true'>

                                <div class='form-subheader mrb20'>Native Assets</div>
                                <app-cr-native-form advId='{{creative.advertiser.id}}' isDCO="{{creative.dcoAd}}" nativeAsset="{{nativeAssetString}}" (syncNativeAsset)="syncNativeAsset($event)">
                                </app-cr-native-form>
                            </div>

                            <!-- DCO attributes -->
                            <div id='dco-attributes' *ngIf='creative.dcoAd === true && creative.type === crConst.ALLOWED_TYPES.HTML'>
                                <div class='form-subheader mrb20'>DCO attributes</div>

                                <div class='pad20-side'>
                                    <app-form-input [(ngModel)]="creative.dcoAttributes.noOfSlots" tooltipPosition="above" tooltip="{{crConst.LABEL_DCO_NUM_SLOTS_TOOLTIP}}" label="{{crConst.LABEL_DCO_NUM_SLOTS}}*" maxLen="256" minLen="4" id="cr-dco-no-of-slots" validationMsg="{{crConst.VALIDATION_DCO_NUM_SLOTS}}"
                                        validated="{{formValidated}}" width="wd250">
                                    </app-form-input>

                                    <app-form-textarea [(ngModel)]="creative.dcoAttributes.macroList" tooltipPosition="above" label="{{crConst.LABEL_DCO_MACRO_LIST}}*" tooltip="{{crConst.LABEL_DCO_MACRO_LIST_TOOLTIP}}" maxLen="2048" minLen="4" id="cr-dco-marco-list" validated="{{formValidated}}"
                                        validationMsg="{{crConst.VALIDATION_DCO_MACRO_LIST}}">
                                    </app-form-textarea>
                                </div>
                            </div>


                            <div class='form-subheader mrb20'>Content</div>
                            <!-- For 3rd Party Ad tag and ZippedHTML -->
                            <div id='html-items' *ngIf='creative.type === crConst.ALLOWED_TYPES.HTML || creative.type === crConst.ALLOWED_TYPES.AD_TAG'>
                                <div class='pad20-side'>
                                    <app-form-textarea [(ngModel)]="creative.content" tooltipPosition="above" label="{{crConst.LABEL_HTML_CONTENT}}*" tooltip="{{crConst.LABEL_HTML_CONTENT}}" id="cr-dco-marco-list" validated="{{formValidated}}" validationMsg="{{crConst.VALIDATION_HTML_CONTENT}}"
                                        height="ht250">
                                    </app-form-textarea>
                                </div>
                            </div>

                            <!-- For Images and Videos  -->
                            <div id='uploaded-items' class='pad20-side'>
                                <div class="form-group" *ngIf='creative.type !== crConst.ALLOWED_TYPES.HTML && creative.type !== crConst.ALLOWED_TYPES.AD_TAG'>
                                    <div class="row">
                                        <div class="col-12">

                                            <div class='uploader-cover mrl15' *ngIf='showUploader'>
                                                <div class='uploader-cover-header'>
                                                    <span class='title'>{{crObj.uploderTitle}}</span>
                                                    <span class='clearfix'></span>
                                                </div>
                                                <app-cr-create-upload-form allowedMultiple="{{crObj.allowedMultiple}}" allowedExtensions="{{crObj.allowedExtensions}}" allowedFileSizeInKB="{{crObj.allowedFileSizeInKB}}" (syncUploadedFiles)='syncUploadedFiles($event)'>
                                                </app-cr-create-upload-form>
                                            </div>

                                            <div class='file-cover' *ngIf='!showUploader'>
                                                <div class='file-cover-header'>
                                                    <span class='title'>Files</span>
                                                    <span class='action' (click)="toggleUploader()">Upload
                                                      Another</span>
                                                    <span class='clearfix'></span>
                                                </div>

                                                <div class='file-cover-body'>
                                                    <!-- uploaded non-native image and non-native/native video-->
                                                    <!-- card preview and remove section for above creatives -->
                                                    <!-- Image-->
                                                    <div class='cr-icon' *ngIf='creative.type == crConst.ALLOWED_TYPES.IMAGE || creative.type == crConst.ALLOWED_TYPES.NATIVE_IMAGE'>
                                                        <img id='img-icon' class='img-icon' [src]='creative.previewUrl' alt="creative" />
                                                    </div>

                                                    <div id='video-cover'>
                                                        <!-- video -->
                                                        <div class='cr-video-icon' *ngIf='creative.type == crConst.ALLOWED_TYPES.VIDEO || creative.type == crConst.ALLOWED_TYPES.NATIVE_VIDEO'>
                                                            <video id='video-icon' width="100%" controls>
                                                              <source [src]="creative.videoAttributes[0].videoPath"
                                                                  type="video/mp4">
                                                              Your browser does not support HTML5 video.
                                                          </video>
                                                        </div>

                                                        <!-- companion ad -->
                                                        <div class='cr-icon' *ngIf='creative.type == crConst.ALLOWED_TYPES.VIDEO || creative.type == crConst.ALLOWED_TYPES.NATIVE_VIDEO && creative.videoAttributes[0].hasCompanion'>
                                                            <img id='campanion-ad' class='img-icon' [src]='creative.videoAttributes[0].companionPath' alt="companion ad" />
                                                        </div>
                                                    </div>

                                                    <div class='clearfix'></div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>

                            <div class='pad20-side'>
                                <div *ngIf='formValidated == false' class="alert alert-danger" role="alert"><em class='fa fa-warning text-bold'></em> {{errorMsg}}
                                </div>
                            </div>

                        </div>
                        <div class='form-footer' *ngIf='!showUploader'>
                            <button mat-raised-button class='btn-primary pull-right' (click)="updateCreative()">Update</button>
                            <div class='clearfix'></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</block-ui>