$modal-border-color: #b8b8b8;


.modal-body {
    height: calc(100% - 80px);
    overflow-x: hidden;
}


.table-scroll {
    overflow-y: auto;
    height: fit-content;
    // min-height: 300px;
    max-height: 350px;

}

.modal-spacing {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

.border-footer {
    border-top: 1px solid $modal-border-color;
}

.border-header {
    border-bottom: 1px solid $modal-border-color;
}

// column width

// .mat-column-id {
//     flex: 0 0 10%;
// }

.mat-column-createdOn {
    flex: 0 0 25%;
}

// .mat-column-modifiedOn {
//     flex: 0 0 15%;
// }

.mat-column-userName {
    flex: 0 0 25%;
    justify-content: start;
}

.mat-column-reqRes {
    flex: 0 0 25%;
    justify-content: start;
}

.mat-column-status {
    flex: 0 0 25%;
    justify-content: start;
}


.mat-cell {
    font-size: 13px !important;
    padding-left: 0px !important;
}
