.help-text {
    color: #f44336;
}

.primary-icon {
    color: var(--primary-color) !important;
    opacity: 0.7 !important;
}

.btn-primary.mat-raised-button,
.btn-secondary.mat-raised-button {
    width: auto !important;
}

.mat-raised-button[disabled] {
    opacity: 0.6;
    color: #fff;
}