<div class="col-md-10 col-lg-10 m-2 mt-5">
    <div [ngClass]="{'no-cursor-wrapper': disable ===true}">
        <div [ngClass]="{'no-ptr-events': disable ===true}">
            <mat-form-field class="wd-full">
                <textarea matInput id="{{ id }}" name="{{ name }}" rows='{{rowsInput}}' maxlength="{{ maxLen }}"
                    minlength="{{ minLen }}" [ngClass]="{ 'input-danger': hasError === true }"
                    class="form-control {{width}} {{height}}" [(ngModel)]="value" placeholder="{{ label }}"
                    autocomplete="none" trim="blur"></textarea>
            </mat-form-field>
        </div>
    </div>


    <!--macro choosing-->
    <div *ngIf='isMacroList===true' class=''>
        <span class="macroLink" #macroListTrigger='matMenuTrigger' [matMenuTriggerFor]="macros">{{cdConst.MACRO}}</span>
    </div>
    <div class='clearfix'></div>

    <mat-menu #macros="matMenu" yPosition="below" class='cdMacroMenu' [overlapTrigger]="false" multiple>
        <span (mouseleave)="closeMenu()">
            <ng-container *ngFor='let macro of macroList'>
                <button mat-menu-item (click)='handleMacroSelect(macro.macroText)'>{{macro.name}}</button>
            </ng-container>
        </span>
    </mat-menu>


    <!-- ERROR -->
    <mat-error class="error" *ngIf="hasError === true" [ngClass]="{'warning' : isInfoMsg() }">
        {{ validationMsg }}
    </mat-error>

    <!-- INFO -->
    <mat-error class="error info-grey" *ngIf="hasInfo === true">
        {{ infoMsg }}
    </mat-error>




</div>

<div class="clearfix"></div>