.mrl15 {
  margin-left: 15px;
}

.btn-primary.mat-raised-button,
.btn-secondary.mat-raised-button {
  width: auto !important;
}

.mat-raised-button[disabled] {
  opacity: 0.6;
  color: #fff;
}

.pad-left10 {
  padding-left: 10px !important;
}

.mrb10 {
  margin-bottom: 10px !important;
}
