<block-ui>
    <div mat-dialog-title class="modal-header">
        <h4 class="flex-grow-1 my-auto modal-title">Change Password</h4>
    </div>
    <div id='cp-form'>
        <form (ngSubmit)="onSubmit()">
            <div mat-dialog-content class="modal-body mx-2">

                <div class='justify-content-center'>
                    <div class='col-xs-12 col-md-12 col-lg-12'>
                        <div id='change-password'>
                            <div class='mrb10'>
                                <mat-form-field class="wd-full">
                                    <input id='old-password' matInput placeholder="Old Password*" [type]="hide1 ? 'text' : 'password'" [formControl]="oldPassFormControl" autocomplete="off">
                                    <em class="fa fa-lg" [ngClass]="{'fa-eye': hide1, 'fa-eye-slash': !hide1}" (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1" matSuffix></em>
                                    <mat-error *ngIf="oldPassFormControl.hasError('required')">Old Password is required
                                    </mat-error>
                                </mat-form-field>
                                <mat-error class='pad-left10'>{{oldSecretKeyError}}</mat-error>
                            </div>

                            <div class='mrb10'>
                                <mat-form-field class="wd-full">
                                    <input id='password' matInput placeholder="New Password*" [type]="hide2 ? 'text' : 'password'" [formControl]="newPassFormControl" autocomplete="off">
                                    <em class="fa fa-lg" [ngClass]="{'fa-eye': hide2, 'fa-eye-slash': !hide2}" (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2" matSuffix></em>
                                    <mat-error *ngIf="newPassFormControl.hasError('required')">New Password is required
                                    </mat-error>
                                    <mat-error *ngIf="newPassFormControl.hasError('passwordStrength')">
                                        {{newPassFormControl.errors['passwordStrength']}}
                                    </mat-error>
                                    <mat-error *ngIf="newPassFormControl.hasError('minlength')">
                                        The minimum length of the password should be 8.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field class="wd-full">
                                    <input id='password' matInput placeholder="Confirmation Password*" [type]="hide3 ? 'text' : 'password'" [formControl]="verifyPassFormControl" autocomplete="off">
                                    <em class="fa fa-lg" [ngClass]="{'fa-eye': hide3, 'fa-eye-slash': !hide3}" (click)="hide3 = !hide3" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide3" matSuffix></em>
                                    <mat-error *ngIf="verifyPassFormControl.hasError('required')">Confirmation Password is required
                                    </mat-error>
                                </mat-form-field>
                                <mat-error class='pad-left10'>{{newSecretKeyError}}</mat-error>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id='footer' class="modal-footer">
                <button mat-button class="mrl15" (click)="dismissModal()">Cancel</button>
                <button mat-raised-button class="mrl15 btn-primary">Save</button>
            </div>
        </form>
    </div>
</block-ui>