<div mat-dialog-title class="modal-header col-12 d-flex flex-column">
    <h4 class="flex-grow-1 my-auto modal-title">{{config.title}}</h4>
    <h5 class="flex-grow-1 small text-secondary my-auto">{{config.subTitle}}</h5>
</div>
<div mat-dialog-content class="my-2 d-flex flex-column modal-body col-12 p-0">

    <!-- //REVX-1176 fetching version from api -->
    <mat-progress-bar *ngIf="showProgressBar" mode="indeterminate"></mat-progress-bar>


    <!-- //REVX-724 : skad-ui changes -->
    <!-- android -->
    <div *ngIf='config.showAndroid' class="d-flex flex-row col-12 mb-3">
        <div class="col-4 d-flex justify-content-end my-auto">Android Version</div>
        <div class="col-8">
            <mat-form-field class="w-25">
                <mat-select id="app-rating" [(ngModel)]="selAndroidVersion" [disabled]='showProgressBar'>
                    <mat-option id="{{item.id}}" *ngFor="let item of androidVersionOptions" [value]="item.name">
                        {{ item.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <!-- ios -->
    <div class="d-flex flex-row col-12 mb-3">
        <div class="col-4 d-flex justify-content-end my-auto">iOS Version</div>
        <div class="col-8">
            <mat-form-field class="w-25">
                <mat-select id="app-rating" [(ngModel)]="selIOSVersion" [disabled]='showProgressBar'>
                    <mat-option id="{{item.id}}" *ngFor="let item of iosVersionOptions" [value]="item.name">
                        {{ item.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button mat-button class="mrr15 mrl15" (click)="onCancelClick()">Cancel</button>
    <button mat-raised-button class='btn-primary' (click)="onSaveClick()" [disabled]='showProgressBar'>Save</button>
</div>