.editModal {
  cursor: pointer;
  color: var(--primary-color);
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
}

.form-txt {
  color: #333333;
  font-size: 12px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
