<div id='list-header'>
    <!-- <div class="warning_msg_alert">
        <ngb-alert *ngIf="!closed" (close)="closed=true" type="warning">You must configure click destinations for this advertiser from here in order to select them while making campaigns and/or strategies</ngb-alert>
    </div> -->
    <div class='float-left mrr10'>
        <button mat-raised-button class="btn-secondary" appDisableRO (click)="showClickDestinationModal(null , 'new')"
            id="create-btn">
            <em class='fa fa-plus'></em> <span>New Click Destination</span>
        </button>
    </div>
    <div class='float-right mrt3'>
        <a mat-button id="list-refresh-btn" (click)="reload()" matTooltip="Refresh" matTooltipPosition="above">
            <em class="fa fa-refresh"></em>
        </a>
    </div>
    <div class="float-right mrr10">
        <mat-form-field>
            <em class="fa fa-search" matPrefix aria-hidden="true"></em>
            <input matInput id='cd-filter' (keyup)="applyFilter($event.target.value)" placeholder="Search"
                autocomplete="off">
        </mat-form-field>
    </div>

    <div class='clearfix'></div>
</div>


<div id='list-body'>
    <mat-progress-bar *ngIf="showProgressBar" mode="indeterminate"></mat-progress-bar>
    <mat-table id="click-destination-table" [ngClass]='{"table-scroll":!noDataMsg && !noSearchResult}'
        [dataSource]="cdSource" matSort>

        <ng-container matColumnDef="action" *ngIf='showRadioSelect==false'>
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <div>
                    <em class='fa fa-list menu-i' [matMenuTriggerFor]="cdMenu"></em>
                    <mat-menu #cdMenu="matMenu">
                        <div *ngFor='let me of menu' class='statusMatMenu'>
                            <button class='cstm-btn' mat-menu-item (click)='showClickDestinationModal(row , "menu")'>
                                <em class='{{me.icon}} mr'></em>
                                <span>{{me.label}}</span>
                            </button>
                        </div>
                    </mat-menu>
                </div>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="action" *ngIf='showRadioSelect==true'>
            <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-radio-group>
                    <mat-radio-button [checked]="clickDestination && (clickDestination.id===row.id)" [value]="row"
                        (click)="rowClick(row)">
                    </mat-radio-button>
                </mat-radio-group>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition='after'>
                <div matTooltipPosition='above'
                    matTooltip="Destination identifier - please click on the name to view details">NAME</div>
            </mat-header-cell>
            <mat-cell *matCellDef="let row" class='cd-name' (click)="showClickDestinationModal(row , 'name')">
                {{row.name}}
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition='after'> ID
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                {{row.id}}</mat-cell>
        </ng-container>



        <ng-container matColumnDef="dco">
            <mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition='after'>
                <div matTooltipPosition='above' matTooltip='The click destination for which the creative is dynamic'>IS
                    DYNAMIC (DCO)</div>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <div>{{row.dco?'Yes':'No'}}</div>
            </mat-cell>
        </ng-container>

        <!-- REVX-724 add new column for is Skad Network here-->
        <!-- values : yes/no-->
        <ng-container matColumnDef="skad">
            <mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition='after'>
                <div matTooltipPosition='above' matTooltip='The click destination of SKAD Network type'>
                    SKAD Network Target</div>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <div>{{row.skadTarget?'Yes':'No'}}</div>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="campaignType">
            <mat-header-cell *matHeaderCellDef mat-sort-header arrowPosition='after'>
                <div matTooltipPosition='above'
                    matTooltip='Campaign type is either RT or UA i.e. retargeting or user acquisition (usually UA and RT will have separate click destinations)'>
                    CAMPAIGN TYPE</div>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <div>{{row.campaignType}}</div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns ; sticky:true;"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)='rowClick(row)'></mat-row>
    </mat-table>

    <div *ngIf='noDataMsg' class='data-unavailable-msg'><em class='fa fa-warning'></em> {{noDataMsg}}
    </div>

    <div *ngIf='!noDataMsg && noSearchResult' class='data-unavailable-msg'><em class='fa fa-warning'></em>
        {{noSearchResult}}
    </div>
</div>
<div id="list-footer">

    <mat-paginator [pageSize]='5' [pageSizeOptions]="[5, 10, 50, 100, 200,400]" showFirstLastButtons>
    </mat-paginator>
</div>