.btn-primary.mat-raised-button,
.btn-secondary.mat-raised-button {
  width: auto !important;
}

.mat-raised-button[disabled] {
  opacity: 0.6;
  color: #fff !important;
}
.modal-body{ 
  padding: 0 ;
}
.modal-content .close {
  margin-right: -15px;
}